<div id="clearance" class="sign-in md:flex mt-14 md:mt-20 md:justify-center mx-auto">

  <div class='w-full md:w-80'>
    <h1 class="hidden md:block text-2xl font-bold dark:text-white align-start"><%= t(".title") %></h1 >

    <%= render partial: '/sessions/form' %>
  </div>
</div>
