<div id="clearance" class="md:flex mt-14 md:mt-20 md:justify-center mx-auto">

  <div class='md:w-96'>
    <h1 class="text-2xl font-bold dark:text-white align-start"><%= t(".title") %></h1 >

    <%= render partial: '/sessions/form' %>
  </div>
</div>
