<div class="w-full container flex flex-col">
  <p class="mb-6">
    <%= link_to @job, class: '' do %>
      <svg fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 inline-block" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/></svg>
      Back to Job
    <% end %>
  </p>

  <div class="md:w-2/3 md:mx-auto dark:text-white mb-10">
    <h1 class="font-bold text-4xl">Notes</h1>
  </div>


  <div class="mb-10 md:mx-auto md:w-2/3 py-4 px-7 bg-gray-200 rounded">
    <%= render 'form', note: @note  %>
  </div>

  <div class="md:w-2/3 mx-auto">
    <div id="notes" class="">
      <%= render partial: @notes, spacer_template: "notes_spacer" %>
    </div>
  </div>
</div>
