<div id="<%= dom_id source %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= source.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this source", source, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this source", edit_source_path(source), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
