<% if job.reminders.due.any? %>
  <%- job.reminders.due.each do |r| %>
    <div class="text-center <%= action_name == 'index' ? 'py-2 text-sm' : 'py-4' %> px-4 bg-amber-300 font-bold text-gray-600" id="<%= dom_id job %>_is_due">
      <%= r.way.humanize %>
      is due
      <%= link_to job_reminder_path(job, r), method: :delete, data: { "turbo_method": :delete, turbo_frame: "_top" }, id: "#{ dom_id job }_due_delete"  do %>
        <svg fill="none" stroke="currentColor" stroke-width="1.5" class="inline-block w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/></svg>
      <% end %>
    </div>
  <% end %>
<% end %>
