<p class="text-center font-medium text-xl mb-10">
  Welcome to WorkyPad! Enter your first job prospect and good luck job hunting!
</p>

<div class="flex justify-center">
  <%= link_to "Enter a job", new_job_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

