<div>
  <%- if !@has_jobs && !params[:archived] && !params[:query] %>
    <%= render 'welcome'  %>
  <%- else %>
    <%- if @application_badge %>
      <div class='font-bold my-4 flex justify-center text-amber-800'>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-16 h-16" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12z"/></svg>
        <div class='ml-2 text-xl md:w-2/3 align-middle'>
          Congrats! You earned the Application Badge with more than 2 applications today.
        </div>
      </div>
    <% end %>

    <div id="jobs" class="flex flex-wrap gap-4 justify-center" data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="job">
      <%= turbo_frame_tag "jobs", src: jobs_path do %>
        Content coming
      <% end %>
    </div>
  <%- end %>
</div>
