<div class="mx-auto md:w-2/3 w-full dark:text-white">
  <h1 class="font-bold text-4xl">Editing job</h1>

  <%= render "form", job: @job %>

  <div class="flex">
    <%= link_to "Show this job", @job, class: "button-lg" %>
    <%= link_to "Back to jobs", jobs_path, class: "button-lg ml-2" %>
  </div>
</div>
