<%- if current_user.fire_badge? %>
  <div class='font-bold my-4 flex items-center justify-center text-red-600 dark:text-red-300'>
    <%= render 'shared/badge_fire' %>
    <div class='ml-2 text-xl max-w-max'>
      You're on fire! You submitted over 4 applications today.
    </div>
  </div>
<%- elsif  current_user.application_badge? %>
  <div class='font-bold my-4 flex items-center justify-center text-amber-500 dark:text-amber-300'>
    <%= render 'shared/badge_application' %>
    <div class='ml-2 text-xl max-w-max'>
      Congratulations! You earned the Application Badge by submitting over 2 applications today.
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "jobs" do %>
  <%= render partial: 'jobs' %>
<% end %>
