'<div class="">
  <%- if @jobs.empty? %>
    <%= render 'welcome'  %>
  <%- else %>

    <div class="flex mb-5">
      <%= link_to "New job", new_job_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>

    <div id="jobs" class="flex flex-wrap gap-5">
      <%= render @jobs %>
    </div>
  <%- end %>
</div>
