<div class='w-full md:w-80'>
  <div class="my-5">
    <%= form.label :email, class: "font-bold dark:text-white" %>
    <%= form.email_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>

  <div class="my-5">
    <%= form.label :password, class: "font-bold dark:text-white" %>
    <%= form.password_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>
</div>
