<%# OPTIMIZE Added disappearing flash messages %>
<div id="flash" class='mb-10 font-medium'>
  <% flash.each do |key, msg| %>
    <%- if alert.present? %>
      <div class="flash <%= key %> bg-red-100 text-red-500 text-center px-7 py-3"><%= msg %></div>
    <%- elsif notice.present? %>
      <div class="flash <%= key %> bg-green-50 text-green-500 align-middle px-7 py-2"><%= msg %></div>
    <%- end %>
  <% end %>
</div>
