<div class='flex flex-col' id="<%= dom_id setting %>">
  <strong class="font-bold mb-3">Days to auto archive:</strong>
  <button class="button", data_turbo_frame='<%= "setting_#{@setting.id.to_s}" %>' href="<%= edit_setting_path(current_user) %>" >
    <%= setting.days_to_auto_archive %>
  </button>
</div>
