<% if feedback.persisted? %>
  <div id="<%= dom_id feedback %>" class="mb-6 lg:mb-2 border-b pb-5 lg:pb-0 lg:border-none">
    <div class="md:flex items-center">
      <p class="w-32 font-bold uppercase">
        <%= feedback.status %>
      </p>
      <p class="w-32 font-medim uppercase mb-3 lg:mb-0">
        <%= feedback.created_at.strftime("%b-%d-%y") %>
      </p>
      <p class="flex-1 bg-gray-100 py-1 px-3">
        <%= feedback.content %>
      </p>
    </div>
  </div>
<% end %>
