<div class="my-10 border-t border-b py-4 flex justify-center items-center align-center">
  <%= link_to 'Sign up', sign_up_path, class: 'button-lg bg-violet-800 px-10 text-white mr-5' %>
  <%= link_to 'Sign in', sign_in_path, class: 'align-middle' %>
</div>
