<div class="my-20 border-t border-b py-3 flex justify-center mb-20 items-center align-center">
  <%= link_to 'Sign up', sign_up_path, class: 'button-lg bg-indigo-800 px-10 text-white mr-5' %>
  <%= link_to 'Sign in', sign_in_path, class: 'align-middle' %>
</div>
