<div class="dark:text-white">
  <div class="container mt-28 md:w-1/2 mx-auto px-5">
    <h1 class="text-5xl font-bold mb-28">
      Pricing
    </h1>
    <p class="text-2xl mb-28">
      <span class="font-bold">Free. Forever.</span>
      That's the plan at least. At a minimum, we'll let you know if it changes, but any change will be no less than 6 months from the date you signed up.
    </p>

    <%= render 'public/take_action' %>
  </div>
</div>
